<span class="h1">
  <a href="/">Writing</a>
</span>
<ul class="post-list">
  {{#foreach posts}}
  <li class="post-item">
    <div class="meta">
      <time datetime='{{date published_at format="MMMM D, YYYY"}}' itemprop="datePublished">
        {{date published_at format='MMMM D, YYYY'}}
      </time>
    </div>

    <span>
      <a href="{{url}}">{{title}}</a>
    </span>
    <span class="taglist">{{tags separator=" " prefix=" &middot; "}}</span>{{#if featured}}
  </li>
  {{/foreach}}
</ul>